.banner {
  background-image: url(/landing/images/retro\ wallpaper.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
  padding: 200px 30px;
  font-size: 1.5rem;
}

.banner .container {
  display: flex;
  justify-content: space-around;
}

.banner .container img {
  height: 200px;
}

@media (max-width: 768px) {
  .banner .container {
    flex-direction: column;
    text-align: center;
  }

  .banner .container img {
    height: 150px;
    margin-top: 20px;
  }
}
