.btn-check {
  color: white;
  background-color: brown;
  border-radius: 300px 45px;
  padding: 10px 25px;
  margin: 10px 0 0 0;
  display: inline-block;
  transition: 0.4s;
}

.btn-check:hover {
  border-radius: 45px 300px;
  background-color: rgb(222, 179, 23);
  transition: 0.4s;
}
