.container-cards {
  padding: 0 0 30px 0;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

.card {
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  transition: 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.card img {
  height: 100px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid rgb(204, 204, 204);
  /* box-shadow: 0 0 10px black; */
}

.card p {
  color: gray;
  font-size: 0.9rem;
  /* border: 1px solid rgba(211, 211, 211, 0.575);
  border-radius: 8px; */
  padding: 10px;
  /* height: 80px; */
}

.card:hover {
  /* height: 120px; */
  /* width: 250px; */
  /* transform: scale(1.1); */
  transform: translate(-8px, -16px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
